html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* .gradientBackground {
  background-image: linear-gradient(
    to right,
    #0c1421,
    #110e1a,
    #100912,
    #0b0408,
    #000000
  );
  background-repeat: repeat-y;
  background-size: cover;
  margin: 10px;
  padding: 10px;
} */

.stickyFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 25px;
  padding: 10px 0px 10px 0px;
  color: black;
  background-color: gainsboro;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
